.border-arrange1{
    width: auto;
    padding:10px;
    margin:20px;
     font-size:20px;
     border-left:10px solid #555;
     border-bottom:2px solid #555;
     background-color: #cccc;
    }

.border-arrange2{
    width: auto;
    padding:10px;
    margin:20px;
     font-size:25px;
     /* border-right:10px solid #555; */
     border-bottom:2px solid #555;
     /* border:5px dashed #5e77b0 */
     /* background-color: #cccc; */
    }

br{
    display: block;
    content: "";
    margin: 10px 0;

}

.first{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    content: "";
}

dic{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    content: "";
}

p{
    margin: 30px;
}

li{
    margin: 5px;
}

.condition1{
    font-size:20px;
    margin-top: 30px;
    margin-left: 30px;

}

.condition2{
    font-size:15px;
    margin-top: 10px;
    margin-left: 30px;
}

.result{
    font-size:18px;
    /* padding: 10px; */
    margin-top: 10px;
    margin-left: 50px;
}

.button{
    width: 100px;
    padding: 3px;
    border-radius:3px;
    box-sizing: border-box;
    border: 1px solid #5e77b0;
    background: #c9e4f5;
    cursor: pointer;
}

.number{
    width: 100px;
}

table{
    padding: 10px;
    margin-left: 50px;
}

.mark{
    background: linear-gradient(transparent 0%, #f9b8fc 0%);
    border-bottom: solid 2px red;
}