<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!--  link:css  -->
        <link rel="stylesheet" href="static/style.css">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <h1 class="fs-10 $gry-500"><center>豚さん管理システム(▽•̀(oo)•́ ▽)</center></h1>
        <article>
            <h2 class="border-arrange2">(･ω･)b  説明書</h2>
            <p>このシステムは、定期的に出産情報を登録することで農場内で子豚をあまり産まない豚(=生産性の低い豚)を見つけだすお手伝いをしてくれます◝(⑅•ᴗ•⑅)◜..°♡</p>
            <p>▼ 使い方</p>
            <ul>
                <li>農場に新しい豚が来た時は、忘れずに<span class="mark">個体番号と入荷日</span>を登録してください！
                </li>
                <li>廃用になった豚は忘れずに<sapn class="mark">廃用登録</sapn>をしてください！！</li>
                <li>豚が出産した時は、忘れずに<sapn class="mark">出産情報</sapn>を登録してください！！！</li>
                <li>確認ボタンで<span class="mark">「生産性の悪い豚の抽出」と「全体の回転数」</span>が表示されます</li>
            </ul>
            <p>この3つの作業を行うことで、農場内で生産性の悪い豚をいち早く発見することができます(^◔ᴥ◔^)</p>
            <p class="condition1">★生産性の指標</p>
            <ul>
                <li class="condition2">回転数 = 365日 / 出産間隔&emsp;(簡単にいうと1年間に出産した回数&emsp;・・・<span class="mark">2.2</span>を下回ると危険信号)</li>
                <li class="condition2">予測回転数 = 365日 / 最後の出産日から現在までの期間</li>
                <li class="condition2">産子数 : 1度に出産した子豚の数&emsp;・・・元気だと10匹以上産む </li>
            </ul>
        </article>
        <h2 class="border-arrange1">登録されている豚さんたち</h2>
        <p>▼ 現在、農場には<span class="mark">{{all_l_len}}匹</span>の母豚がいます</p>
        {% for n in all_l %}
            {{ n }},
        {% endfor %}
    
    <h2 class="border-arrange1">新規登録</h2>
    <p>▼ 新規登録する個体番号を入力してください</p>
    <!-- フォーム作成 -->
    <form action="/add" method="post">
        <dic class="first">個体番号: <input type="text" name="add_no" required class="number"></dic>
        <dic>入荷日: <input type="text" name="add_day" required></dic>
        <input type="submit" value="新規登録" class="button">
    </form>
    {% if add_no %}
        <p class="result">NO.{{ add_no }}の登録が完了しました Thanks♪(･ω･)ﾉ</p>
    {% endif %}
    <br>
    <br>

    <h2 class="border-arrange1">廃用登録</h2>
    <p>▼ 廃用にする個体番号を入力してください</p>
    <!-- フォーム作成 -->
    <form action="/delete" method="post">
        <dic class="first">個体番号: <input type="text" name="del_no" required class="number"></dic>
        <input type="submit" value="廃用登録" class="button">
    </form>
    {% if del_no %}
        <p class="result">NO.{{ del_no }}を廃用にしました (´• ω •`)ﾉ</p>
    {% endif %}
    <br>
    <br>

    <h2 class="border-arrange1">出産情報の登録</h2>
    <!-- フォーム作成 -->
    <p>▼ 出産情報を登録する個体番号を入力してください</p>
    <form action="/register" method="post">
        <dic class="first">個体番号: <input type="text" name="regi_no" required class="number"></dic>
        <dic>出産日: <input type="text" name="regi_day" required></dic>
        <dic>出産子数: <input type="int" name="regi_num" required class="number"></dic>
        <input type="submit" value="出産登録" class="button">
    </form>
    {% if register_no %}
        <p class="result">出産情報を登録しました Thanks♪(･ω･)ﾉ</p>
        <p class="result">(NO.{{ register_no }}, 出産日:{{ new_born_day }}, 産子数:{{ new_born_number }})</p>
    {% endif %}
    <br>
    <br>

    <h2 class="border-arrange1">個体情報確認</h2>
    <!-- フォーム作成 -->
    <p>▼ 確認する個体番号を入力してください</p>
    <form action="/find" method="post">
        <dic class="first">個体番号: <input type="text" name="find_no" required class="number"></dic>
        <input type="submit" value="確   認" class="button"><br>
    </form>

    {% if pig_dic %}
    <ul>
        <li class="result">個体番号 : NO.{{ pig_dic['NO'] }}</li>
        <li class="result">年齢 : {{ pig_dic['年齢'] }}歳</li>
        <li class="result">出産日 : {{ pig_dic['出産日'] }}</li>
        <li class="result">産子数 : {{ pig_dic['産子数'] }}匹</li>
        <li class="result">回転数 : {{ pig_dic['回転数'] }}回</li>
    </ul>
    {% endif %}
    <br>
    <br>

    <h2 class="border-arrange1">生産性の悪い豚を抽出</h2>
    <!-- フォーム作成 -->
    <p>▼ 確認ボタンを押してください</p>
    <form action="/search" method="post">
        <dic class="first"><input type="submit" value="確   認" class="button"></dic>
        <p class="condition1">★ 抽出条件(生産性の低い母豚の抽出)</p>
        <ul>
            <li class="condition2">実績回転数が<span class="mark">2.2以下</span></li>
            <li class="condition2">過去2回の産子数が<span class="=mark">8匹以下</span></li>
            <li class="condition2">予測回転数が<span class="mark">2.2以下</span></li>
        </ul>
    </form>
    <br>
    <br>
    
    {% if pig_list %}
    <table class="table table-hover" border="1">
        <thead>
            <tr class="table">
                <th> 個体番号 </th>
                <th> 年齢 </th>
                <th> 産子数1 </th>
                <th> 産子数2 </th>
                <th> 回転数 </th>
                <th> 予測回転数 </th>
            </tr>
        </thead>
        <tbody>
        {% for n in pig_list %}
        <tr>
            <td>{{ n[0] }}</td>
            <td>{{ n[1] }}歳</td>
            <td>{{ n[3] }}匹</td>
            <td>{{ n[4] }}匹</td>
            <td>{{ n[2] }}回</td>
            <td>{{ n[5] }}回</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    {% endif %}
    <br>
    <br>

    <h2 class="border-arrange1">全体の回転数</h2>
    <!-- フォーム作成 -->
    <p>▼ 確認ボタンを押してください</p>
    <form action="/check" method="post">
        <dic class="first"><input type="submit" value="確   認" class="button"></dic>
    </form>
    {% if check_pig %}
    <p class="result">過去1年間の回転数 : {{ check_pig }} 回</p>
    {% if check_pig >= 2.2 %}
    <p class="result">(▽•̀(oo)•́ ▽)</p>
    {% elif 2.2 > check_pig %}
    <p class="result">(V −(●●)−V)</p>

        {% endif %}    
    {% endif %}
        



</body>
</html>